@import url("http://fonts.googleapis.com/css?family=Lato")
@import url("http://fonts.googleapis.com/css?family=Open\+Sans")
body_fonts = "Lato", sans-serif
heading_fonts = "Open Sans", sans-serif

body
  font 17px body_fonts
  color #333

.jumbotron
  h1
    font 42px heading_fonts
.logo
  margin-top -15px
  height 50px
  width 70px
